/*  Add your styling here */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

nav h1 {
    margin-right: 100px;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 90px;
}

* {
    font-size: 20px;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    font-size: 10px;
}

.cake-images {
    display: flex;
    justify-content: column;
    margin-top: 20px;
    margin-left: 20px;
}

.cake-images-container {
    display: flex;
    justify-content: space-around;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    margin-left: 15%;
}

.images {
    margin-right: 250px;
    margin-left: 250px;
}

.container-titles {
    margin-left: 20%;
    margin-right: 20%;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10%;
}

.cake-images {
    height: 100px;
    width: 100px;
}

@media screen and (min-width: 992px) {
    .logo {
        height: 100px;
        width: 100px;
        margin-left: 250px;
    }

    * {
        font-size: 20px;
    }

    .menu-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 50px;
        font-size: 10px;
        margin-bottom: 30%;
    }

    .cake-images {
        display: flex;
        justify-content: column;
        margin-top: 20px;
    }

    .cake-images-container {
        display: flex;
        justify-content: space-around;
    }

    .info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .image-carrousell {
        display: flex;
        justify-content: row;
    }

    .image-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10%;
    }

    .cake-images {
        height: 250px;
        width: 250px;
    }
}